# Ignore latex/pdflatex aux files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.glo
*.ist
*.gz
*.gls
*.glg
*.fdb_latexmk

# Ignore objects files
.o

* Ignore exec file
main
test
hmm_test

# Ignore graphviz files
*.dot
*.eps

# Misc
.DS_Store
libs
old
